.personArea{
    padding: 2px;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

.personArea button{
    margin-top: 20px;
}

.personSmallImage{
    height: 100%;
}

.infoDetail{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.infoDetail .otherline{
    position: absolute;
    background: #0f0f0f;
    /*background: white;*/
    opacity: 0.5;
    height: 100%;
    width: 100%;
    z-index: 101;
}

.infoDetail .presonModal{
    position: absolute;
    background: white;
    width: 90%;
    height: 100%;
    overflow-y: auto;
    margin-left:3%;
    margin-top:30px;
    z-index: 103;
    padding: 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}